body
{
	margin:10px 10px 10px 10px;
}

#myNavbar .paragraphe1
{
	font-weight:bold;
	color:white;
	position:relative;
	top:15px;
	//text-align:center;
	text-transform:capitalize;
}
fieldset
{
	text-align:center;
}